html,
body {

  
}
body {
  /* font-family: "Roboto", sans-serif !important; */
  font-family: 'Resolve Sans';
  background: #404A55 !important;
}
.right-bg {
  /* background-color: #f3c5c5; */
  height: 99vh;
}




header .logo {
  margin-top: 20px;
}
header .middle .dist {
  color: #fff;
  border: 1px solid #505E6B;
  border-radius: 16px;
  text-align: center;
  width: fit-content;
  padding: 5px 20px;
}
header .middle .dist .coint {
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}
header .middle .dist .text {
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
}

header .middle .first {
  padding-top: 10px;
}
header .middle {
  display: flex;
  justify-content: center;
  text-align: center;
}
header .middle .second {
  padding: 0 30px;
}
header .middle .second .userOuter {
  position: relative;
  padding-bottom: 10px;
}

header .middle .second .userOuter .userInner {
  width: fit-content;
  margin: 0 auto;
  position: relative;
}
header .middle .second .userOuter .line1 {
  position: absolute;
  left: 12px;
  bottom: -7px;
}
header .middle .second .userOuter .line2 {
  position: absolute;
  left: 40px;
  bottom: -7px;
}
header .middle .second .userOuter .line3 {
  position: absolute;
  left: 68px;
  bottom: -7px;
}
header .middle .second .userOuter .line4 {
  position: absolute;
  left: 102px;
  bottom: -7px;
}
header .middle .second .userOuter .userInner .img4 {
  margin-top: -7px;
}


header .middle .second .graphOuter {
  position: relative;
}
header .middle .second .graphOuter .line5 {
  position: absolute;
  bottom: 0;
  left: -10px;
  right: 0;
}



header .middle .third {
  padding-top: 10px;
}
header .settingOuter {
  text-align: right;
}
header .settingOuter .setting {
  margin-top: 20px;
}





.activityride {
  position: relative;
  background: #000000;
  border-radius: 22px 22px 0px 0px;
}
.activityride .mainInner .info {
  display: flex;
  background: rgba(196, 196, 196, 0.1);
  border-radius: 22px 22px 0px 0px;
  color: #fff;
  justify-content: center;
  padding: 30px 0px 35px 0px;
}
.activityride .mainInner .info .dataOuter {
  display: flex;
  justify-content: center;
  border-radius: 24px;
  padding: 15px;
  margin-right: 12px;
  position: relative;
  min-width: 150px;
}
.activityride .mainInner .info .dataOuter.blank {
  border: 1px solid #2E353D;
}
.activityride .mainInner .info .dataOuter.green {
  background: rgba(43, 234, 170, 0.2);
}
.activityride .mainInner .info .dataOuter.red {
  background: rgba(235, 89, 94, 0.2);
}
.activityride .mainInner .info .dataOuter .details {
  text-align: center;
  padding: 0 10px;
}
.activityride .mainInner .info .dataOuter.blank.last .details {
    padding: 0;
}
.activityride .mainInner .info .dataOuter .details .time {
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  padding: 0;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.activityride .mainInner .info .dataOuter .details .type {
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
}


.activityride .mainInner .info .dataOuter img {
  display: table;
  vertical-align: middle;
  height: 20px;
  margin-top: 15px;
}
.activityride .mainInner .info .dataOuter img.gear1 {
  margin-top: 30px;
}
.activityride .mainInner .info .dataOuter img.stat {
  height: auto;
  margin-top: 0px;
}
.activityride .mainInner .info .dataOuter img.gear2 {
  position: absolute;
  left: 120px;
  top: 35px;
  height: 15px;
}
.activityride .mainInner .info .dataOuter .details .type.count1 {
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}
.activityride .mainInner .info .dataOuter .details .type.count2 {
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding-top: 15px;
}

.activityride .mainInner .dataMain {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}
.activityride .mainInner .dataMain .infoOuterMain {
  padding: 0px 10px;
}
.activityride .mainInner .dataMain .infoOuterMain .infoOuter {
  position: relative;
  text-align: center;
  padding: 20px 0px;
  border: 1px solid #404A55;
  border-radius: 24px;
  color: #fff;
  width: 154px;
  min-height: 154px;
}
.activityride .mainInner .dataMain .infoOuterMain .infoOuter .arrowExpand {
  right: 10px;
  position: absolute;
  top: 10px;
  z-index: 9999;
}
.activityride .mainInner .dataMain .infoOuterMain .infoOuter .infoTime {
  margin: 0;
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.activityride .mainInner .dataMain .infoOuterMain .infoOuter .infoPara {
  margin: 0;
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  letter-spacing: 0.03em;
  padding-top: 10px;
}
.activityride .mainInner .dataMain .infoOuterMain .infoOuter .graphLine {
  width: 100%;
  margin-top: 20px;
}
.activityride .mainInner .dataMain .infoOuterMain .infoOuter .infoTimeLabel {
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  margin: 0;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
}
.activityride .mainInner .dataMain .infoOuterMain .infoOuter .countOnly {
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
}
.activityride .mainInner .dataMain .infoOuterMain .infoOuter .countOnly2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
}




.activityride .mainInner .dataMainOuter {
  padding-top: 30px;
  padding-bottom: 100px;
}

.activityride .mainInner .dataMain .infoOuterMain .infoOuter.full {
  width: 1023px;
  text-align: center;
  margin: 0 auto;
}
.activityride .mainInner .dataMain .infoOuterMain .infoOuter.full .graphFull {
  width: 100%;
  padding-top: 15px;
}
.activityride .mainInner .dataMain .infoOuterMain .infoOuter.full .lineFull {
  width: 100%;
  margin-top: -30px;
}
.activityride .mainInner .dataMain .infoOuterMain.hide {
  visibility: hidden;
}


.activityride .mainInner .dataMain .infoOuterMain .infoOuter.big {
  width: 317px;
  min-height: 317px;
}
.activityride .mainInner .dataMain.bigOuter .infoOuterMain {
  padding: 0 18px;
}
.activityride .mainInner .dataMain .infoOuterMain .infoOuter.big.hide {
  visibility: hidden;
}


.activityride .mainInner .dataMain .infoOuterMain .infoOuter .left {
  position: absolute;
  left: 40px;
  top: 70px;
}
.activityride .mainInner .dataMain .infoOuterMain .infoOuter .left .count {
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  margin: 0;
}
.activityride .mainInner .dataMain .infoOuterMain .infoOuter .left .dir {
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  margin: 0;
}

.activityride .mainInner .dataMain .infoOuterMain .infoOuter .right {
  position: absolute;
  right: 40px;
  top: 70px;
}
.activityride .mainInner .dataMain .infoOuterMain .infoOuter .right .count {
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  margin: 0;
}
.activityride .mainInner .dataMain .infoOuterMain .infoOuter .right .dir {
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  margin: 0;
}
.activityride .mainInner .dataMain .infoOuterMain .infoOuter .angleCount {
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  margin: 0;
  position: absolute;
  bottom: 30px;
  left: 0;
  right: 0;
}

.activityride .mainInner .dataMain .infoOuterMain .infoOuter.big .left {
  left: 90px;
  top: 140px;
}
.activityride .mainInner .dataMain .infoOuterMain .infoOuter.big .left .count {
  font-size: 24px;
}
.activityride .mainInner .dataMain .infoOuterMain .infoOuter.big .right {
  right: 90px;
  top: 140px;
}
.activityride .mainInner .dataMain .infoOuterMain .infoOuter.big .right .count {
  font-size: 24px;
}

.activityride .mainInner .dataMain .infoOuterMain .infoOuter.big .degree1 {
  position: absolute;
  top: 30px;
  right: 130px;
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  margin: 0;
}
.activityride .mainInner .dataMain .infoOuterMain .infoOuter.big .degree2 {
  position: absolute;
  top: 135px;
  right: 22px;
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  margin: 0;
}
.activityride .mainInner .dataMain .infoOuterMain .infoOuter.big .degree3 {
  position: absolute;
  top: 155px;
  right: 20px;
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  margin: 0;
}
.activityride .mainInner .dataMain .infoOuterMain .infoOuter.big .infoTimeLabel {
  bottom: 15px;
}
.activityride .mainInner .dataMain .infoOuterMain .infoOuter.big .graph2 {
  padding-left: 90px;
  padding-top: 30px;
}


