body{
    font-family: 'Resolve Sans';
    background: #353C44;
}
@font-face {
    font-family: 'Resolve Sans';
    src: url('../fonts/resolveSans.otf');
}
/* ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #c6115e;
}
::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #afafaf;
} */
header {
    background: #404A55;
    padding: 20px 0px;
}
.row {
    margin: 0 !important;
}




