html,
body {

  
}
body {
  /* font-family: "Roboto", sans-serif !important; */
  font-family: 'Resolve Sans';
}
.right-bg {
  /* background-color: #f3c5c5; */
  height: 99vh;
}




header .logo {
  margin-top: 20px;
}
header .middle .dist {
  color: #fff;
  border: 1px solid #505E6B;
  border-radius: 16px;
  text-align: center;
  width: fit-content;
  padding: 5px 20px;
}
header .middle .dist .coint {
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
}
header .middle .dist .text {
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
}

header .middle .first {
  padding-top: 10px;
}
header .middle {
  display: flex;
  justify-content: center;
  text-align: center;
}
header .middle .second {
  padding: 0 30px;
}
header .middle .second .userOuter {
  position: relative;
  padding-bottom: 10px;
}

header .middle .second .userOuter .userInner {
  width: fit-content;
  margin: 0 auto;
  position: relative;
}
header .middle .second .userOuter .line1 {
  position: absolute;
  left: 12px;
  bottom: -7px;
}
header .middle .second .userOuter .line2 {
  position: absolute;
  left: 40px;
  bottom: -7px;
}
header .middle .second .userOuter .line3 {
  position: absolute;
  left: 68px;
  bottom: -7px;
}
header .middle .second .userOuter .line4 {
  position: absolute;
  left: 102px;
  bottom: -7px;
}
header .middle .second .userOuter .userInner .img4 {
  margin-top: -7px;
}


header .middle .second .graphOuter {
  position: relative;
}
header .middle .second .graphOuter .line5 {
  position: absolute;
  bottom: 0;
  left: -10px;
  right: 0;
}



header .middle .third {
  padding-top: 10px;
}
header .settingOuter {
  text-align: right;
}
header .settingOuter .setting {
  margin-top: 20px;
}





.main {
  position: relative;
}
.main .leaderboard {
  position: absolute;
  left: 0;
  top: 20px;  
  background: #252A30;
  color: #fff;
  width: 300px;
  padding: 10px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 0px 16px 16px 0px;
}

.main .cycle {
  position: absolute;
  left: -29%;
  right: 0;
  margin: 0 auto;
  top: calc(100vh - 176px);
}


.main .leaderboard .leaderboardInner .titleOuter {
  position: relative;
}
.main .leaderboard .leaderboardInner .titleOuter .title {
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 0.1em;
}
.main .leaderboard .leaderboardInner .titleOuter .arrow {
  position: absolute;
  right: 15px;
  top: 10px;
}




.main .leaderboard .userData {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.main .leaderboard .userData.active {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
}
.main .leaderboard .userData .profileLeft {
  display: flex;
}
.main .leaderboard .userData .profileLeft .profileImage {
  position: relative;
}
.main .leaderboard .userData .profileLeft .profileImage .user {
    width: 32px;
}
.main .leaderboard .userData .profileLeft .profileImage .userCycle {
  position: absolute;
  top: 13px;
  right: -10px;
  width: 24px;
}
.main .leaderboard .userData .profileLeft .userName .user {
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  padding-left: 20px;
}
.main .leaderboard .userData .profileLeft .userName .task {
  margin: 0;
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #2BEAAA;
  padding-left: 20px;
}
.main .leaderboard .userData .profileRight .time {
  margin: 0;
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
}
.main .leaderboard .userData .profileRight .timeDiff {
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #9AA6B4;
  margin: 0px;
}
.main .leaderboard .userData .profileRight {
  position: relative;
}
.main .leaderboard .userData .profileRight::before {
  content: '';
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: absolute;
  left: -20px;
  height: 37px;
}



.main .stats {
  position: absolute;
  right: 0px;
  top: 20px;
  background: #252A30;
  color: #fff;
  width: 149px;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 16px 0px 0px 16px;
  padding: 12px;
}
.main .stats .statsDiv {
  display: flex;
  border-radius: 8px;
  padding: 5px;
  margin-top: 4px;
}
.main .stats .statsDiv.gray {
  background: rgba(235, 89, 94, 0.2);
}
.main .stats .statsDiv.green {
  background: rgba(43, 234, 170, 0.2);
}
.main .stats .statsDiv:nth-of-type(1) {
  margin-top: 0;
}
.main .stats .statsDiv .statDesc .count {
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}
.main .stats .statsDiv .statDesc .countTitle {
  font-family: 'Resolve Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin: 0;
}
.main .stats .statsDiv .statImg {
  width: 50px;
  text-align: center;
}
.main .stats .statsDiv .statImg .rightImg {
  padding: 10px;
}

.main .stats .statsDiv.blank {
  position: relative;
}
.main .stats .statsDiv.blank .statImg .rightImg {
  padding-left: 0;
}
.main .stats .statsDiv.blank .statDesc {
  position: absolute;
  right: 5px;
}
.main .stats .statsDiv.blank .statDesc .count {
  padding-top: 15px;
}







